<p><strong>Name:</strong> {{ university.name }}</p>
<p><strong>Code:</strong> {{ university.code }}</p>
<p><strong>Address:</strong> {{ university.address }}</p>
<p><strong>Website:</strong> <a href="{{ university.website_url }}" target="_blank">{{ university.website_url }}</a></p>
<p><strong>Accreditation Details:</strong> {{ university.accreditation_details }}</p>
<p><strong>Total Institutes:</strong> {{ university.total_institutes }}</p>
<p><strong>Contact Number:</strong> {{ university.contact_number }}</p>
<p><strong>Email:</strong> {{ university.email }}</p>
<p><strong>Establishment Year:</strong> {{ university.establishment_year }}</p>
<p><strong>Chancellor's Name:</strong> {{ university.chancellor_name }}</p>
